<nav class="top">
    <div class="container">
        <a class="home-link" href="/" title="Home">Todoist | {{overview.room.name}}</a>
        <ul>
            <li><a ui-sref="home" title="Todo">Todos</a></li>
            <li><a ui-sref="overview" title="Overview" class="current">Overview</a></li>
            <li ng-if="overview.room.isAdmin"><a ui-sref="settings" title="Settings">Settings</a></li>
            <li><a target="_self" href="/rooms/login/" title="Logout">Logout</a></li>
        </ul>
    </div>
</nav>
<main class="full-height">
    <section class="graphs" ng-class="{'weekly': overview.showWeeklyGraph}">
        <div class="graph main-graph" ng-style="{'transform': overview.percentageDoneTransform(), '-webkit-transform': overview.percentageDoneTransform() }"></div>
        <div class="week-graph six">
            <div class="graph" ng-if="overview.completedWeek[5]" ng-style="{'transform': overview.calculateTransform(overview.completedWeek[6]), '-webkit-transform': overview.calculateTransform(overview.completedWeek[6]) }"></div>
            <span><span class="big-number">{{overview.completedWeek[6]}}</span> completed on {{overview.daysOfTheWeek[6]}}</span>
        </div>
        <div class="week-graph five">
            <div ng-if="overview.completedWeek[5]" class="graph" ng-style="{'transform': overview.calculateTransform(overview.completedWeek[5]), '-webkit-transform': overview.calculateTransform(overview.completedWeek[5]) }"></div>
            <span><span class="big-number">{{overview.completedWeek[5]}}</span> completed on {{overview.daysOfTheWeek[5]}}</span>
        </div>
        <div class="week-graph four">
            <div ng-if="overview.completedWeek[4]" class="graph" ng-style="{'transform': overview.calculateTransform(overview.completedWeek[4]), '-webkit-transform': overview.calculateTransform(overview.completedWeek[4]) }"></div>
            <span><span class="big-number">{{overview.completedWeek[4]}}</span> completed on {{overview.daysOfTheWeek[4]}}</span>
        </div>
        <div class="week-graph three">
            <div ng-if="overview.completedWeek[3]" class="graph" ng-style="{'transform': overview.calculateTransform(overview.completedWeek[3]), '-webkit-transform': overview.calculateTransform(overview.completedWeek[3]) }"></div>
            <span><span class="big-number">{{overview.completedWeek[3]}}</span> completed on {{overview.daysOfTheWeek[3]}}</span>
        </div>
        <div class="week-graph two">
            <div ng-if="overview.completedWeek[2]" class="graph" ng-style="{'transform': overview.calculateTransform(overview.completedWeek[2]), '-webkit-transform': overview.calculateTransform(overview.completedWeek[2]) }"></div>
            <span><span class="big-number">{{overview.completedWeek[2]}}</span> completed on {{overview.daysOfTheWeek[2]}}</span>
        </div>
        <div class="week-graph one">
            <div ng-if="overview.completedWeek[1]" class="graph" ng-style="{'transform': overview.calculateTransform(overview.completedWeek[1]), '-webkit-transform': overview.calculateTransform(overview.completedWeek[1]) }"></div>
            <span><span class="big-number">{{overview.completedWeek[1]}}</span> completed yesterday</span>
        </div>
        <div class="week-graph zero">
            <div ng-if="overview.completedWeek[0]" class="graph" ng-style="{'transform': overview.calculateTransform(overview.completedWeek[0]), '-webkit-transform': overview.calculateTransform(overview.completedWeek[0]) }"></div>
            <span><span class="big-number">{{overview.completedWeek[0]}}</span> completed today</span>
        </div>
    </section>
    <section class="main-stats-container transparent light" ng-class="{'opacity': overview.showWeeklyGraph}">
        <h1 class="overview-percentage">{{overview.percentageDone()}}%</h1>
        <p class="transparent center">of all todos complete</p>
        <div class="thirds two">
            <article class="stats-container first">
                <div class="large-number">{{overview.todo}}</div>
                Todos to do
            </article>
            <article class="stats-container">
                <div class="large-number">{{overview.completed}}</div>
                Todos done
            </article>
            <button class="button secondary" ng-if="overview.completed > 0" ng-click="overview.toggleWeeklygraph()">Toggle weekly graph</button>
        </div>
    </section>
</main>
