<nav class="top">
    <div class="container">
        <a class="home-link" target="_self" href="/" title="Home">Todoist | {{overview.roomName}}</a>
        <ul>
            <li><a ui-sref="home" title="Todo">Todos</a></li>
            <li><a ui-sref="settings" title="Settings">Settings</a></li>
            <li><a ui-sref="overview" title="Overview" class="current">Overview</a></li>
            <li><a target="_self" href="/rooms/login/" title="Logout">Logout</a></li>
        </ul>
    </div>
</nav>
<main class="container full-height">
  <section class="vertically-center">
    <h1 class="overview-percentage">{{overview.percentageDone()}}</h1>
    <p class="overview-description">Of all Todos complete</p>
  </section>
</main>
