<nav class="top">
    <div class="container">
        <a class="home-link" target="_self" href="/" title="Home">Todoist | {{home.roomName}}</a>
        <ul>
            <li><a ui-sref="home" title="Todo" class="current">Todos</a></li>
            <li><a ui-sref="settings" title="Settings">Settings</a></li>
            <li><a ui-sref="overview" title="Overview">Overview</a></li>
            <li><a target="_self" href="/rooms/login/" title="Logout">Logout</a></li>
        </ul>
    </div>
</nav>
<main class="container no-pad">
    <section class="thirds one  transparent">
        <h2 class="subtle-subtitle left-aligned">Hi {{home.username}}</h2>
        <new-task create-task="home.createTask(newTask)" task="home.newTask" class="transparent left-aligned"></new-task>
        <article class="stats-container first">
          <div class="large-number">{{home.tasksTotal}}</div>
          Todos to do
        </article>
        <article class="stats-container">
          <div class="large-number">{{home.completedLastDay}}</div>
          Todos done today
        </article>
    </section>
    <section class="thirds two tasks-container">
        <article ng-if="home.tasks.length !== 0">
            <div class="task-item" ng-repeat="task in home.tasks">
                <task-view task="task" edited="home.updateTask(task)" deleted="home.deleteTask(task)">
                </task-view>
            </div>
            <div class="pagination-controls" ng-if="home.availablePages() > 1">
                <button class="icon back" ng-if="home.taskPage > 0" ng-click="home.pageBack()"><span class="lnr lnr-arrow-left"></span></button>
                <span class="page-number transparent">Page {{home.taskPage + 1}} of {{home.availablePages()}}</span>
                <button class="icon forward" ng-if="home.availablePages() !== (home.taskPage + 1)" ng-click="home.pageForward()"><span class="lnr lnr-arrow-right"></span></button>
            </div>
        </article>
        <p class="empty-notification" ng-if="home.tasks.length === 0">No todos to be done</p>
    </section>
</main>
