<nav class="top dark">
    <div class="container">
        <a class="home-link" href="/" title="Home">Todoist | {{home.roomName}}</a>
        <ul>
            <li><a href="#" title="">Tasks</a></li>
            <li><a href="#" title="">Settings</a></li>
            <li><a href="#" title="">Overview</a></li>
            <li><a href="#" title="">Logout</a></li>
        </ul>
    </div>
</nav>
<main class="container no-pad">
    <section class="thirds two">
      <article class="modal full-width task-list">
        <h2>Todos</h2>
        <div class="task-item" ng-repeat="task in home.tasks">
          <p class="task-title">{{task.title}}</h3>
          <p class="task-description">{{task.description}}</p>
          <p class="task-date">{{task.createdAt | date : longDate}}
        </div>
      </article>
    </section>
    <section class="thirds one center">
      <h2 class="subtle-subtitle">Hi {{home.username}}</h2>
    </section>


    <section class="modal light">

        <new-task create-task="home.createTask(newTask)" task="home.newTask"></new-task>

    </section>
</main>
