<nav class="top">
    <div class="container">
        <a class="home-link" target="_self" href="/" title="Home">Todoist | {{home.roomName}}</a>
        <ul>
            <li><a ui-sref="home" title="Todo" class="current">Todos</a></li>
            <li><a ui-sref="overview" title="Overview">Overview</a></li>
            <li ng-if="home.isAdmin"><a ui-sref="settings" title="Settings">Settings</a></li>
            <li><a target="_self" href="/rooms/login/" title="Logout">Logout</a></li>
        </ul>
    </div>
</nav>
<main class="container">
    <section class="transparent">
        <article class="thirds two">
            <h2 class="subtle-subtitle left-aligned">Hi {{home.username}}</h2>
        </article>
        <article class="thirds one nopad">
            <div class="stats-container first">
                <div class="large-number">{{home.tasksTotal}}</div>
                Todos to do
            </div>
            <div class="stats-container">
                <div class="large-number">{{home.completedLastDay}}</div>
                Todos done today
            </div>
        </article>
    </section>
    <section class="lists-container">
        <todo-list ng-repeat="list in home.lists" index="$index" createTask="home.newTask" editTask="home.editTask" deleteTask="home.deleteTask" editList="home.editList(list)" deleteList="home.deleteList(list)">
        </todo-list>
        <p class="todo-list thirds" ng-if="home.lists.length === 0">No lists!</p>
        <p class="todo-list thirds" ng-click="home.newList()">
            <i class="lnr lnr-plus-circle"></i> Add new list
        </p>
    </section>
</main>
