<nav class="top">
    <div class="container">
        <a class="home-link" target="_self" href="/" title="Home">Todoist | {{settings.roomName}}</a>
        <ul>
            <li><a ui-sref="home" title="Todo">Todos</a></li>
            <li><a ui-sref="overview" title="Overview">Overview</a></li>
            <li><a ui-sref="settings" title="Settings" class="current">Settings</a></li>
            <li><a target="_self" href="/rooms/login/" title="Logout">Logout</a></li>
        </ul>
    </div>
</nav>
<main class="container">
  <section class="modal light">
    <h2>{{settings.roomName}} Settings</h2>
    <article class="settings-article" ng-if="settings.completed">
      <div class="halves left-aligned vertical-middle">
        Remove completed todos:
        <span class="explaination-text">This cannot be undone</span>
      </div>
      <div class="halves vertical-middle">
        <button ng-if="!settings.confirmingDeleteTasks" class="button danger" ng-click="settings.toggleConfirmingDeleteTasks()">Remove Completed</button>
        <div ng-if="settings.confirmingDeleteTasks" class="button-group">
          <button class="button secondary" ng-click="settings.toggleConfirmingDeleteTasks()">Cancel</button>
          <button class="button danger" ng-click="settings.deleteCompletedTasks()">Confirm</button>
        </div>
      </div>
    </article>
    <article class="settings-article">
      <div class="halves left-aligned vertical-middle">
        Log out all members of this room:<span class="explaination-text">You will also be logged out</span>
      </div>
      <div class="halves vertical-middle">
        <button ng-if="!settings.confirmingLogOut" class="button secondary" ng-click="settings.toggleConfirmingLogOut()">Log all out</button>
        <div ng-if="settings.confirmingLogOut" class="button-group">
          <button class="button secondary" ng-click="settings.toggleConfirmingLogOut()">Cancel</button>
          <button class="button primary" ng-click="settings.logAllOut()">Confirm</button>
        </div>
      </div>
    </article>
    <article class="settings-article">
      <p class="left-aligned">
        Change the passcode for access to this room:
        <span class="explaination-text">Passcode must be between five and seventy characters long</span>
      </p>
      <form class="inline" name="passcodeForm" ng-class="{'attempted-submit': settings.passcodeAttemptedSubmit}" ng-submit="settings.changePasscode(passcodeForm.$valid)" novalidate="novalidate">
        <label for="passcode">New passcode:</label>
        <input type="text" id="passcode" name="passcode" pattern=".{5,70}" ng-model="settings.newPassCode" required="requied" />
        <input type="submit" class="button secondary" value="Change passcode" />
      </form>
    </article>
    <article class="settings-article">
      <p class="left-aligned">
        Change the admin password for this room:
        <span class="explaination-text">Password must be between five and seventy characters long</span>
      </p>
      <form class="inline" name="passwordForm" ng-class="{'attempted-submit': settings.passwordAttemptedSubmit}" ng-submit="settings.changeAdminPassword(passwordForm.$valid)" novalidate="novalidate">
        <label for="current-password">Current password:</label>
        <input type="password" pattern=".{5,70}" ng-model="settings.passwords.old" id="current-password" name="current-password" required="requied" />
        <label for="password">New password:</label>
        <input type="password" pattern=".{5,70}" ng-model="settings.passwords.new" id="password" name="password" required="requied" />
        <label for="password-confirm" >Confirm password:</label>
        <input type="password" pattern=".{5,70}" ng-model="settings.passwords.confirm" id="password-confirm" name="password-confirm" required="requied" />
        <input type="submit" class="button secondary" value="Change Password" />
      </form>
    </article>

    <article class="settings-article">
      <div class="halves left-aligned vertical-middle">
        Delete this room completely:<span class="explaination-text">This cannot be undone</span>
      </div>
      <div class="halves vertical-middle">
        <button class="button danger" ng-click="settings.confirmingDeleteRoom()">Delete this room</button>
      </div>
    </article>
  </section>
</main>
