footer
    h2
      a(href="/" title="Todoist") Todoist
    p An experiment in using Angular and Websockets for realtime interactions
    p Created by&nbsp;
      a(href="https://montydawson.co.uk" title="Monty Dawson") Monty Dawson
    p
    a(href="https://github.com/MontyD/workworkworkworkwork" title="Code") The code
