footer.grey
    h2
      a(href="/" title="Todoist") Todoist
    p Created by&nbsp;
      a(href="https://montydawson.co.uk", title="Monty Dawson") Monty Dawson
    p
      a(href="https://github.com/MontyD/workworkworkworkwork" title="Code") The code
      | &nbsp;&#124;&nbsp;
      a(href="https://www.fontsquirrel.com/fonts/list/foundry/fabian-de-smet", title="fabian de smet") Butler Bold By Fabian De Smet
      | &nbsp;&#124;&nbsp;
      a(href="https://linearicons.com/free#about", title="Linearicons by Prexis") Linearicons by Prexis
