a(href="/", title="Home").home-link Todoist
ul
  li
    a(href="#", title="Close menu")#close-menu.close
      img(src="/img/close.png" alt="Close")
  li
    a(href="/faq", title="Your rooms") FAQs
  li
    a(href="/rooms/new", title="Your rooms") Sign up
  li
    a(href="/rooms/login", title="Logout") Login
a(href="#", title="Open Menu", class="menu menu-icon")
  img(src="/img/menu.png", alt="Menu")
