<div class="task-description">
    <p ng-if="!editing" class="task-title">{{task.title}}</p>
    <p ng-if="!editing">{{task.description}}</p>
    <p ng-if="!editing" class="task-details">Created by {{task.username}} on {{task.createdAt | date : longDate}}</p>
    <form ng-if="editing" ng-submit="save()">
        <label class="first">Title</label>
        <input type="text" ng-model="task.title" />
        <label>Description</label>
        <textarea class="last" ng-model="task.description"></textarea>
    </form>
    <div class="button-group" ng-if="editing && !deleting">
        <button ng-click="cancelEdit()" class="button secondary">Cancel</button>
        <button ng-click="save()" class="button primary">Save</button>
    </div>
</div>
<div ng-if="!editing && !deleting" class="control-container">
    <button ng-click="startDelete()" class="slide-out delete icon"><span class="lnr lnr-cross"></span></button>
    <button ng-click="edit()" class="slide-out icon"><span class="lnr lnr-pencil"></span></button>
    <button ng-click="completed()" class="done icon" title="Mark as complete"><span class="lnr lnr-checkmark-circle"></span></button>
</div>
<div class="control-container" ng-if="deleting">
    <div class="button-group">
        <button ng-click="cancelDelete()" class="button secondary">Cancel</button>
        <button ng-click="deleted()" class="button danger">Delete</button>
    </div>
</div>
