<div class="list-title">
    <span ng-if="!editing && !deleting">{{list.name || 'Todo list'}}</span>
    <span ng-if="!editing && !deleting" class="control-container">
            <button ng-click="toggleListDelete()" class="slide-out delete icon"><span class="lnr lnr-cross"></span></button>
    <button ng-click="toggleListEdit()" class="slide-out icon"><span class="lnr lnr-pencil"></span></button>
    </span>
    <form ng-if="editing" name="listUpdate" ng-submit="submitListEdit()">
        <input type="text" ng-model="list.name" placeholder="List name" />
        <input type="submit" class="button" value="Update" />
    </form>
    <div ng-if="deleting" class="button-group">
        <button ng-click="toggleListDelete()" class="button secondary">Cancel</button>
        <button ng-click="removeList()" class="button danger">Delete</button>
    </div>
</div>
<div class="list-body">
    <div class="task-item" ng-repeat="task in list.tasks">
        <task-view task="task" edited="updateTask(task)" deleted="deleteTask(task)">
        </task-view>
    </div>
    <p class="empty-notification" ng-if="!list.tasks.length">No todos to be done</p>
</div>
<form class="add-task inline" ng-class="{'attempted-submit': attemptedSubmit}" name="add" novalidate="novalidate" ng-submit="addTask(add.$valid)">
  <label for="{{'new' + list.id}}">New Todo</label>
  <input type="text" id="{{'new' + list.id}}" ng-model="newTask.title" required="required" /><input type="submit" class="button primary" value="&#43;" />
</form>
