extends ../layouts/base
block content
  body.slight-gradient.padded
    .circle.circle-1.no-transition
    .circle.circle-2.no-transition
    nav.top.absolute
      .container
        include ../includes/_headerLinks.pug
    section.modal.light
      h1 New Room
      if error
        p.error= error.message
      form(id="sign-up-form" method="POST", action="/rooms/new")
        label(for="username") Your name
        input(type="text", name="username", id="username", autofocus="autofocus", required="required")
        label(for="name") Room name
        input(type="text", name="name", id="name", required="required")
        label(for="passcode") Room passcode
        input(type="text", name="passcode", id="passcode", required="required")
        label(for="adminPassword") Room admin password
        input(type="password", name="adminPassword", id="adminPassword", required="required")
        label(for="confirmAdmin") Confirm password
        input(type="password", name="confirmAdmin", id="confirmAdmin", required="required")
        input(type="submit", value="Create").button.primary
        if (originalURL)
          input(type="text", value=originalURL, name="originalURL").hidden
    script(type="text/javascript", src="bundles/signup.js")
