extends ../layouts/base
block content
  body
    nav.top.absolute
      .container
        include ../includes/_headerLinks.pug
    header.slightGradient
      section.modal.light
        h1 New Room
        if error
          p.error= error.message
        form(method="POST", action="/rooms/new")
          label(for="username") Room name
          input(type="text", name="name", id="name", autofocus="autofocus", required="required")
          label(for="email") Your email address
          input(type="email", name="email", id="email", required="required")
          label(for="password") Room password
          input(type="password", name="password", id="password", required="required")
          label(for="password") Confirm password
          input(type="password", name="confirm", id="confirm", required="required")
          input(type="submit", value="Create")
          if (originalURL)
            input(type="text", value=originalURL, name="originalURL").hidden
