extends layouts/base
block content
  body.slight-gradient.padded
    .circle.circle-1.no-transition
    .circle.circle-2.no-transition
    nav.top.absolute
      .container
        include ./includes/_headerLinks
    .modal.vertically-center.light
      h1 Oops! #{error.status}
      p= message
