extends layouts/base
block content
  body.slight-gradient
    .circle.circle-1.no-transition
    .circle.circle-2.no-transition
    nav.top.absolute
      .container
        include ./includes/_headerLinks.pug
    section.modal.light.vertically-center
      h1 Todoist
      p Where people come to get things done together
      .button-group
        a.fake-button.primary(href="/rooms/login", title="login") Login to a room
        a.fake-button(href="/rooms/new", title="new") Start a new room
