extends layouts/base
block content
  body.slight-gradient
    .circle.circle-1.no-transition
    .circle.circle-2.no-transition
    nav.top.grey
      .container
        include ./includes/_headerLinks
    section.modal.light.main
      h1 Todoist
      p A realtime todolist webapp
      .button-group
        a.fake-button.primary(href="/rooms/login", title="login") Login to a room
        a.fake-button(href="/rooms/new", title="new") Start a new room
    section.modal.light.left-aligned
      h2 How it works
    script(type="text/javascript", src="/bundles/justmenu.js")
    include ./includes/_footer
