@import '_styling';

form {
    padding: 0 0 1rem;

    h3 {
        margin     : 1rem 0;
        padding    : 0.6rem 0;
        background : $colorWhite;
        font-size  : 1.8rem;
        font-weight: normal;
        font-family: $sans-serif;
    }

    &.attempted-submit {
        input.ng-invalid {
            border-color: $colorError;
        }
    }

    p.error {
        margin     : -.9em auto 2em;
        width      : 90%;
        padding-top: 0;
        font-size  : 0.9em;
        font-style : italic;
        text-align : right;
        color      : $colorError;
        &.main {
          font-size: 1.1em;
          text-align: center;
        }
    }
    p.explain {
        margin     : -.9em auto 2em;
        width      : 90%;
        padding-top: 0;
        font-size  : 0.9em;
        font-style : italic;
        text-align : center;
        color      : $colorDarkGrey;
    }
}

label {
    &.checkbox {
        display     : inline-block;
        margin-right: 0.2rem;
    }

    &.required::after {
        content       : '*';
        font-weight   : normal;
        font-size     : 0.8rem;
        margin        : 0 0.1rem;
        color         : $colorDark;
        vertical-align: top;
    }
}

input[type="currency"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
textarea {
    display      : block;
    padding      : 0.6rem 0.4rem;
    margin       : 0.2rem auto 1.4rem;
    border-radius: 0.3rem;
    border       : 1px solid $colorMain;
    box-sizing   : border-box;
    resize       : none;
    width        : 90%;
    font-size    : 0.8rem;

    &:active,
    &:focus {
        outline: none;
        border : 1px solid $colorDark;
    }

    &.outline {
        border-radius: 0;
        border       : none;
        border-bottom: 1px solid $colorGrey;
        background   : rgba(0,0,0, 0.1);
        transition   : background 0.2s;

        &:active,
        &:focus {
            outline   : none;
            background: rgba(0,0,0, 0.18);
        }

        &.editable {
            padding  : 0.2rem 0.5rem;
            font-size: 90%;
        }
    }

    &.error {
        border-color             : #F44336;
        animation-name           : bounce;
        animation-iteration-count: 2;
        animation-duration       : 0.2s;
    }

    &:disabled {
        background: rgba(0,0,0,0.1);

        &:hover {
            box-shadow: none;
        }
    }
}

textarea {
    min-height: 80px;
}

select {
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 0.8rem;
}

.transparent {
    input,
    textarea {
        border-color: $colorDarkGrey;
        background  : rgba(255,255,255, 0.5);
    }
}

.left-aligned {
    input,
    select,
    textarea {
        margin-left : 0;
        margin-right: 0;
        width       : 100%;
    }

    input[type="submit"] {
        display     : block;
        background  : rgba(255,255,255, 0.8);
        border-color: $colorDarkGrey;
        color       : $colorDarkGrey;
        margin      : 0.4rem auto;

        &:hover {
            @include shadow(1);
        }
    }
}

input[type="checkbox"] {
    display: none;

    & + label {
        cursor: pointer;
    }

    & + label:before {
        display       : inline-block;
        content       : ' ';
        width         : 1rem;
        height        : 1rem;
        margin        : 0 0.3rem;
        vertical-align: middle;
        border-radius : 0.2rem;
        border        : 1px solid $colorDark;
        color         : $colorWhite;
        cursor        : pointer;
        transition    : all 0.2s ease-out;
        cursor        : pointer;
    }

    &:checked + label {
        color: $colorDark;

        &:before {
            height            : 0.5rem;
            width             : 1.2rem;
            border-radius     : 0;
            -webkit-transform : rotate(-45deg);
            transform         : rotate(-45deg);
            border-top-color  : transparent;
            border-right-color: transparent;
            margin-bottom     : 0.3rem;
        }
    }

    &.light {
        & + label:before {
            border-color: $colorWhite;
        }

        &:checked + label:before {
            border-top-color  : transparent;
            border-right-color: transparent;
        }
    }

    &.large {
        & + label:before {
            width : 1.5rem;
            height: 1.5rem;
        }

        &:checked + label:before {
            height: 0.9rem;
            width : 2.5rem;
        }
    }
}

input[type="radio"] {
    display: none;

    & + label {
        cursor: pointer;
    }

    & + label:before {
        display      : inline-block;
        content      : ' ';
        width        : 1rem;
        height       : 1rem;
        margin       : 0 0.3rem -0.15rem;
        border-radius: 50%;
        background   : transparent;
        border       : 1px solid $colorDark;
        cursor       : pointer;
        transition   : all 0.2s ease-out;
        cursor       : pointer;
    }

    &:checked + label {
        color: $colorDark;

        &:before {
            background   : $colorDark;
            height       : 0.9rem;
            width        : 0.9rem;
            margin-bottom: -0.1rem;
        }
    }

    &.light {
        & + label:before {
            border-color: $colorWhite;
        }

        &:checked + label:before {
            background: $colorWhite;
        }
    }
}

form.inline {
    padding   : 1rem;
    box-sizing: border-box;
    text-align: center;

    * {
        vertical-align: middle;
    }

    input[type="currency"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"] {
        display                   : inline-block;
        margin                    : 0;
        width                     : 80%;
        padding-top               : 0;
        padding-bottom            : 0;
        height                    : 32px;
        border-top-right-radius   : 0;
        border-bottom-right-radius: 0;
        border-right              : none;
    }

    input[type="submit"] {
        width                    : 20%;
        margin                   : 0;
        padding                  : 0;
        font-size                : 1.2rem;
        line-height              : 90%;
        height                   : 32px;
        border-top-left-radius   : 0;
        border-bottom-left-radius: 0;
        font-weight              : normal;
    }

    label {
        display   : block;
        text-align: left;
    }
}
