$sans-serif: 'Droid Sans', sans-serif;
$serif: 'butlerbold', serif;
$containerWidth: 1000px;
$largeBP: 1100px;
$mediumBP: 900px;
$smallBP: 550px;

html {
    height  : 100%;
    width   : 100%;
    position: relative;
}

body,
ui-view {
    display               : block;
    height                : 100%;
    width                 : 100%;
    font-family           : $sans-serif;
    -webkit-font-smoothing: antialiased;
}

main.full-height {
    position  : relative;
    min-height: calc(100% - 3.8em);
}

.halfWidth {
    display     : inline-block;
    width       : 50%;
    box-sizing  : border-box;
    margin-left : 0;
    margin-right: 0;
}

.fullWidth {
    display     : block;
    width       : 100%;
    box-sizing  : border-box;
    margin-left : 0;
    margin-right: 0;
}

.button-group {
    display  : inline-block;
    margin   : 0 auto;
    font-size: 0;

    button {
        font-size    : initial;
        margin       : 0;
        border-radius: 0;
        margin-left  : -1px;
        min-width    : 75px;

        &:first-child {
            border-top-left-radius   : 0.3em;
            border-bottom-left-radius: 0.3em;
        }

        &:last-child {
            border-top-right-radius   : 0.3em;
            border-bottom-right-radius: 0.3em;
        }
    }
}

.halves {
    display       : inline-block;
    width         : 49%;
    padding       : 0 1em;
    box-sizing    : border-box;
    margin-left   : 0;
    margin-right  : 0;
    vertical-align: top;

    p {
        padding       : 0;
        margin        : 1em auto;
        vertical-align: top;
        width         : 100%;
    }

    h3 {
        margin-top: 0;
        font-size : 2.2em;
    }
    @media(max-width: $mediumBP) {
        display: block;
        width  : 90%;
        margin : 1em auto 3.5em;
    }
    @media(max-width: $smallBP) {
        width: 98%;

        img.boxed {
            width: 95%;
        }

        p {
            text-align: center;
        }
    }

    img.boxed {
        width: 80%;
    }
}

.thirds {
    display       : inline-block;
    width         : 32%;
    padding       : 0 1em;
    box-sizing    : border-box;
    margin-left   : 0;
    margin-right  : 0;
    text-align    : center;
    vertical-align: top;

    &.two {
        width: 65%;
    }

    &.vertically-center {
        vertical-align: middle;
    }

    h3 {
        margin   : 0 auto;
        font-size: 2.2em;
    }
    @media(max-width: $mediumBP) {
        &.two {
            width: 90%;
        }
        display: block;
        width  : 90%;
        margin : 0.5em auto 1em;
    }
}

.modal {
    position  : relative;
    display   : block;
    margin    : 0 auto;
    width     : 90%;
    max-width : 600px;
    padding   : 1em;
    box-sizing: border-box;
    text-align: center;

    &.main {
        margin: 5% auto;
    }

    &.full-width {
        max-width: none;
    }

    h1,
    h2,
    h3 {
        margin-top: 0;
    }
}

.pagination-controls {
    width   : 100%;
    height  : 60px;
    position: relative;

    * {
        vertical-align: middle;
    }

    .icon {
        font-size: 2.2em;
    }

    .page-number {
        display    : block;
        padding-top: 1.5em;
    }

    .back {
        position: absolute;
        left    : 0;
        top     : 0;
    }

    .forward {
        position: absolute;
        right   : 0;
        top     : 0;
    }
}

.stats-container {
    display   : inline-block;
    margin    : 0.6em 0;
    position  : relative;
    width     : 49%;
    box-sizing: border-box;
    padding   : 1em 0.4em;
    text-align: center;
    font-size : 0.9em;

    .large-number {
        display    : block;
        width      : 100%;
        font-family: $serif;
        font-size  : 5.5em;
        line-height: 90%;
    }
}

.overview-percentage {
    margin     : 0;
    line-height: 90%;
    font-size  : 8em;
    @media(max-width: $mediumBP) {
        font-size: 5em;
    }
}

.graphs {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    text-align: center;

    .graph {
        height          : 100%;
        transform-origin: left bottom;
        transition      : transform 0.2s ease;
        transform       : scaleY(0);
    }

    .main-graph {
        position: absolute;
        top     : 0;
        left    : 0;
        display : block;
        width   : 100%;
    }

    .week-graph {
        position: absolute;
        height  : 100%;
        width   : 14%;
        top     : 0;

        span {
            position  : absolute;
            bottom    : 1em;
            width     : 100%;
            left      : 0;
            box-sizing: border-box;
            padding   : 0 0.5em;
            transition: opacity 0.2s ease;
            opacity: 0;
        }

        .graph {
            position: absolute;
            top     : 0;
            left    : 0;
            width   : 100%;
        }

        &.zero {
            right           : 1%;
            transition-delay: 0.1s;
        }

        &.one {
            right           : 15%;
            transition-delay: 0.15s;
        }

        &.two {
            right           : 29%;
            transition-delay: 0.2s;
        }

        &.three {
            right           : 43%;
            transition-delay: 0.25s;
        }

        &.four {
            right           : 57%;
            transition-delay: 0.3s;
        }

        &.five {
            right           : 71%;
            transition-delay: 0.35s;
        }

        &.six {
            right           : 85%;
            transition-delay: 0.4s;
        }
    }
    &.weekly {
      .week-graph span {
        opacity: 1;
      }
    }
}

.container {
    display   : block;
    position  : relative;
    margin    : 0 auto;
    box-sizing: border-box;
    padding   : 1em 0;
    width     : 100%;
    max-width : $containerWidth;
}

.left-aligned {
    text-align: left;
}

.right-aligned {
    text-align: right;
}

.center {
    text-align: center;
}

.vertically-center {
    position : absolute;
    margin   : 0 auto;
    top      : 45%;
    left     : 0;
    right    : 0;
    transform: translateY(-50%);
}
