@import '_styling';
@import '_animation';

.tasks-container {
    @extend .modal;
    @extend .light;
    max-width: none;
    display  : inline-block;
}

.task-item {
    display   : block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    clear     : both;
    border-top: 2px solid $colorGrey;
    transition: background 0.2s ease;

    .task-description {
        display       : inline-block;
        width         : 55%;
        vertical-align: middle;
        color         : $colorDarkGrey;
        text-align: left;

        .button-group {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
    }

    form {
      textarea, input[type="text"] {
        width: 100%;
      }
    }

    .task-title {
        color        : $colorDark;
        font-weight  : bold;
        font-size    : 1.5em;
        margin-bottom: 0;
        text-align: left;
    }

    .control-container {
        display       : inline-block;
        width         : 36%;
        vertical-align: middle;
        text-align    : right;

        * {
            vertical-align: middle;
        }

        p {
            width     : 100%;
            color     : $colorDarkGrey;
            font-size : 0.9em;
        }
    }

    button.icon {
        &.done {
            color    : $colorBlack;
            font-size: 2.5em;

            &:hover {
                color: $colorMain;
            }
        }

        &.delete {
            &:hover {
                color: $colorError;
            }
        }

        &:first-child {
            transition-delay: 0.05s;
        }
    }

    button.slide-out {
        @extend.slide-out.hidden;
    }

    &:hover {
        background: #F1F1F1;

        button.slide-out {
            @extend .slide-out.active;
        }
    }

    &:first-child {
        border-top: none;
    }
}

.empty-notification {
    margin   : 4em;
    font-size: 1.2em;
    color    : $colorDarkGrey;
}
