@import '_styling';
@import '_animation';

.tasks-container {
    @extend .modal;
    @extend .light;
    max-width: none;
    display  : inline-block;
    @media(max-width: $mediumBP) {
        display: block;
    }
}

.task-item {
    display       : block;
    padding-top   : 0.5em;
    padding-bottom: 0.5em;
    text-align    : center;
    clear         : both;
    border-top    : 2px solid $colorGrey;
    transition    : background 0.2s ease;

    .task-description {
        display       : inline-block;
        width         : 55%;
        vertical-align: middle;
        color         : $colorDarkGrey;
        text-align    : left;
        font-size     : 0.8em;

        .button-group {
            display   : block;
            margin    : 0 auto;
            text-align: center;
        }
    }

    form {
        input[type="text"] {
            font-size    : 1.2em;
            width        : 100%;
            margin-bottom: 0.1em;
        }
    }

    .task-title {
        font-size    : 1.2em;
        color        : $colorBlack;
        margin-bottom: 0;
        text-align   : left;
    }

    .control-container {
        display       : inline-block;
        width         : 36%;
        vertical-align: middle;
        text-align    : right;

        * {
            vertical-align: middle;
        }

        p {
            width    : 100%;
            color    : $colorDarkGrey;
            font-size: 0.9em;
        }
    }

    button.icon {
        font-size: 1.5em;

        &.done {
            color    : $colorBlack;
            font-size: 1.8em;

            &:hover {
                color: $colorMain;
            }
        }

        &.delete {
            &:hover {
                color: $colorError;
            }
        }

        &:first-child {
            transition-delay: 0.05s;
        }
    }

    button.slide-out {
        @extend.slide-out.hidden;
    }

    &:hover {
        background: #F1F1F1;

        button.slide-out {
            @extend .slide-out.active;
        }
    }

    &:first-child {
        border-top: none;
    }
}

.todo-list {
    position      : relative;
    padding-bottom: 1.8em;
    max-width     : 600px;
    box-shadow    : 0 1.5px 4px rgba(0,0,0,.24),0 1.5px 6px rgba(0,0,0,.12);
    border-radius : 0.3em;
    @extend .light;
    text-align    : left;

    .list-title {
        text-align : left;
        padding    : 1em 0.1em;
        font-size  : 1.2em;
        font-weight: bold;
    }

    &-new {
        position      : relative;
        padding-bottom: 1.8em;
        max-width     : 600px;
        box-shadow    : 0 1.5px 4px rgba(0,0,0,.24),0 1.5px 6px rgba(0,0,0,.12);
        border-radius : 0.3em;
        padding-top   : 1em;
        font-size     : 1.2em;
        text-align    : center;
        padding-bottom: 1em;
        cursor        : pointer;
        margin-top    : 0;
        color         : $colorDarkGrey;
        @extend .light;

        .lnr {
            display      : block;
            font-size    : 3.5em;
            margin-bottom: 0.2em;
        }
    }
}

.empty-notification {
    margin    : 1.5em 0.5em;
    font-size : 1em;
    text-align: center;
    color     : $colorDarkGrey;
}
